@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/mansoor/filament-versionable/resources/css/plugin.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/mansoor/filament-versionable/resources/**/*.blade.php';

@source '../../../../app/Classes/FormFieldValidationRuleFilamentBuilderBlocks/**/*.php';
